<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="current-song-container">
        <div id="current-song">
            <h3>Música atual</h3>
            <div id = "current-song-info">
                <p id="current-song-name">
                    <img src="{{ url_for('static', filename='assets/loading-gif.gif') }}" alt="Loading...">
                </p>
                <p id="skip-button" style="display: none;">
                    <img src="{{ url_for('static', filename='assets/skipbutton.png') }}" alt="Pular música">
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <form id="add-song-form">
            <input type="text" name="song" id="song-input" placeholder="Nome da música">
            <button type="submit">Adicionar musica</button>
        </form>
        <div id="message">Música adicionada à fila</div>
        <div id="queue">
            <h3>Fila de músicas</h3>
            <ul id="queue-list"></ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>